<div class="container-fluid country overflow-hidden py-5">
        <div class="container py-5">

            <!-- Section Title -->
            <div class="section-title text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-bottom: 40px;">
                <div class="sub-style">
                    <h5 class="sub-title text-primary px-3">Why Study in the Canada?</h5>
                </div>
                <h1 class="display-5 mb-4">Explore Your Future in the Canada</h1>
                <p>The Canada offers world-class education and amazing career opportunities in a multicultural environment.</p>
            </div>
        </div>
</div>