{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Your specific page content goes here -->
<!-- Contact Start -->
        <div class="container-fluid contact overflow-hidden py-5">
            <div class="container py-5">
                <div class="row g-5 mb-5">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                        <div class="sub-style">
                            <h5 class="sub-title text-primary pe-3">Quick Contact</h5>
                        </div>
                        <h1 class="display-5 mb-4">Have Questions? Don't Hesitate to Contact Us</h1>
                        <p class="mb-5">We will get back to you shortly.</p>
                        <div class="d-flex border-bottom mb-4 pb-4">
                            <i class="fas fa-map-marked-alt fa-4x text-primary bg-light p-3 rounded"></i>
                            <div class="ps-3">
                                <h5>Location</h5>
                                <p>Dillibazar , Kathmandu, Nepal</p>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-xl-6">
                                <div class="d-flex">
                                    <i class="fas fa-tty fa-3x text-primary"></i>
                                    <div class="ps-3">
                                        <h5 class="mb-3">Quick Contact</h5>
                                        <div class="mb-3">
                                            <h6 class="mb-0">Phone:</h6>
                                            <a href="#" class="fs-5 text-primary">985-1363345</a>
                                        </div>
                                        <div class="mb-3">
                                            <h6 class="mb-0">Email:</h6>
                                            <a href="#" class="fs-5 text-primary">contact@srieducation.edu.np</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="d-flex">
                                    <i class="fas fa-clone fa-3x text-primary"></i>
                                    <div class="ps-3">
                                        <h5 class="mb-3">Opening Hrs</h5>
                                        <div class="mb-3">
                                            <h6 class="mb-0">Sun - Friday:</h6>
                                            <a href="#" class="fs-5 text-primary">09.00 am to 07.00 pm</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center pt-3">
                            <div class="me-4">
                                <div class="bg-light d-flex align-items-center justify-content-center" style="width: 90px; height: 90px; border-radius: 10px;"><i class="fas fa-share fa-3x text-primary"></i></div>
                            </div>
                            <div class="d-flex">
                                <a class="btn btn-secondary border-secondary me-2 p-0" href="">facebook <i class="fas fa-chevron-circle-right"></i></a>
                                <a class="btn btn-secondary border-secondary mx-2 p-0" href="">twitter <i class="fas fa-chevron-circle-right"></i></a>
                                <a class="btn btn-secondary border-secondary mx-2 p-0" href="">instagram <i class="fas fa-chevron-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3">
                        <div class="sub-style">
                            <h5 class="sub-title text-primary pe-3">Let’s Connect</h5>
                        </div>
                        <h1 class="display-5 mb-4">Send Your Message</h1>
                        <p class="mb-3">Contact us for any query.</p>
                        <form>
                            <div class="row g-4">
                                <div class="col-lg-12 col-xl-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-6">
                                    <div class="form-floating">
                                        <input type="phone" class="form-control" id="phone" placeholder="Phone">
                                        <label for="phone">Your Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Subject</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 160px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="office pt-5">
                    <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="sub-style">
                            <h5 class="sub-title text-primary px-3">Our Offices</h5>
                        </div>
                        <h1 class="display-5 mb-4">Explore Our Office</h1>
                        <p class="mb-0"></p>
                    </div>
                    <div class="container">

</div>

    </div>
</div>
            <div class="container">
    <div class="row g-2 justify-content-center">
        <!-- Head Office -->
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
            <div class="office-item p-4">
                <div class="office-content d-flex flex-column">
                    <h4 class="mb-2">Head Office</h4>
                    <a href="tel:9851363345" class="text-secondary fs-5 mb-2">985-1363345</a>
                    <a href="mailto:ktm@srieducation.edu.np" class="text-muted fs-5 mb-2">ktm@srieducation.edu.np</a>
                    <p class="mb-0">Dillibazzar, Kathmandu, Nepal.</p>
                </div>
            </div>
        </div>

        <!-- Damak Branch -->
        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
            <div class="office-item p-4">
                <div class="office-content d-flex flex-column">
                    <h4 class="mb-2">Damak, Jhapa</h4>
                    <a href="tel:9851363345" class="text-secondary fs-5 mb-2">985-1363345</a>
                    <a href="mailto:damak@srieducation.edu.np" class="text-muted fs-5 mb-2">damak@srieducation.edu.np</a>
                    <p class="mb-0">2nd Floor, Gorkha Department, Damak, Jhapa.</p>
                </div>
            </div>
        </div>
    </div>
</div>
                        <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="office-item p-4">
                                <div class="office-img mb-4">
                                    <img src="img/office-4.jpg" class="img-fluid w-100 rounded" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 pt-5 wow zoomIn" data-wow-delay="0.1s">
                            <div class="rounded h-100">
                                <iframe class="rounded w-100" style="height: 500px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.3828621634416!2d85.32218317498857!3d27.705462876183557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19002ba2444d%3A0x31690f8b1e170607!2sSRI%20Education%20Consulting!5e0!3m2!1sne!2snp!4v1731249663409!5m2!1sne!2snp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
<br>
<br>
<br>
<p>                                                                         </p>
<br>
{% endblock %}
